<div class="center jumbotron">
  <h1>Welcome to Eagle Eye Hunts</h1>

  <% if !logged_in? %>
    <h2>
      Don't have an account?
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<!--<p>-->
<!--<%= request.location.latitude %>,-->
<!--<%= request.location.longitude %>-->
<!--</p>-->

<div id="map-container">
  <iframe id="map-canvas"
   src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAtvH3oVz83MLOgVr_wuiK3VgsIw-gKWA&q=<%= request.location.latitude %>, <%= request.location.longitude %>"
   allowfullscreen>
  </iframe>
</div>
   <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAtvH3oVz83MLOgVr_wuiK3VgsIw-gKWA&q=32.982293, -80.069707"-->

<%#= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>

<%#= image_tag("kitten.jpg", alt: "Kitten") %>