<!-- <%= @user.email %></p>
<%= @user.name %></p>
Created At: <%= @user.created_at %>
Updated At: <%= @user.updated_at %>
Time Now: <%= Time.now %>
-->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= picture_for @user %>
        <%= @user.name %>
      </h1>

    </section>
  </aside>
</div>

<div id="map-container" class="center ">
  <iframe id="map-canvas"
   src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAtvH3oVz83MLOgVr_wuiK3VgsIw-gKWA&q=<%= request.location.latitude %>, <%= request.location.longitude %>"
   allowfullscreen>
  </iframe>
</div>
   <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBAtvH3oVz83MLOgVr_wuiK3VgsIw-gKWA&q=Ashby Hall - Charleston Southern University"-->